/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* STYLING  */

/* styling menu */

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 0;
  list-style: none;
}

.menu a:link {
  text-decoration: none;
}
.menu a:visited {
  text-decoration: none;
}
.menu a:hover {
  text-decoration: none;
}
.menu a:active {
  text-decoration: none;
}
